In [3]:
import cv2
import numpy as np

filepath = "eating1_color.mp4"

# 動画の読み込み
cap = cv2.VideoCapture(filepath)

# 200フレーム目から取得
# cap.set(cv2.CAP_PROP_POS_FRAMES, 0)

flag = 0

# 動画終了まで繰り返し
while(cap.isOpened()):
    # フレームを取得
    ret, frame = cap.read()

    # フレームを表示
    cv2.imshow("Frame", frame)
    if(flag % 10 == 0):
        print(flag)
    flag += 1
    # qキーが押されたら途中終了
    if cv2.waitKey(1) & 0xFF == ord('q'):
        break

cap.release()
cv2.destroyAllWindows()

print(flag)

0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510
520
530
540
550
560
570
580
590
600
610
620
630
640
650
660
670
680
690
700
710
720
730
740
750
760
770
780
790
800
810
820
830
840
850
860
870
880
890
900
910
920
930
940
950
960
970
980

KeyboardInterrupt:

In [1]:
import pandas as pd
df = pd.DataFrame(columns=['first_frame', 'last_frame', 'action_label'])
df

Empty DataFrame
Columns: [first_frame, last_frame, action_label]
Index: []

In [6]:
list2 = [["P001", "iPhone 8 64GB", 85000],
         ["P002", "iPhone X 256GB", 130000],
         ["P003", "iPhone SE 32GB", 37000]]
columns2 = ["Product ID", "Product Name", "Price (JPY)"]
df1 = pd.DataFrame(data=list2, columns=columns2)
df1

  Product ID    Product Name  Price (JPY)
0       P001   iPhone 8 64GB        85000
1       P002  iPhone X 256GB       130000
2       P003  iPhone SE 32GB        37000

In [7]:
df2 = pd.DataFrame(data=[["P004", "iPhone 7 32GB", 10000]],
                   columns=columns2)
df2

  Product ID   Product Name  Price (JPY)
0       P004  iPhone 7 32GB        10000

In [13]:
df1=df1.append(df2, ignore_index = True)
df1

  Product ID    Product Name  Price (JPY)
0       P001   iPhone 8 64GB        85000
1       P002  iPhone X 256GB       130000
2       P003  iPhone SE 32GB        37000
3       P004   iPhone 7 32GB        10000
4       P004   iPhone 7 32GB        10000
5       P004   iPhone 7 32GB        10000
6       P004   iPhone 7 32GB        10000
7       P004   iPhone 7 32GB        10000
8       P004   iPhone 7 32GB        10000