In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('eating1.csv')

In [13]:
a = df['action_label'].unique().tolist()

In [14]:
a

['料理-副菜を掴む',
 '料理-副菜を食べる',
 '料理-主食を掴む',
 '料理-主食を食べる',
 '食器類を持つ',
 '食器類を置く',
 '料理-主菜を掴む',
 '料理-主菜を食べる']

In [15]:
b = [i for i in range(len(a))]
b

[0, 1, 2, 3, 4, 5, 6, 7]

In [16]:
labeling = dict(zip(b,a))
labeling

{0: '料理-副菜を掴む',
 1: '料理-副菜を食べる',
 2: '料理-主食を掴む',
 3: '料理-主食を食べる',
 4: '食器類を持つ',
 5: '食器類を置く',
 6: '料理-主菜を掴む',
 7: '料理-主菜を食べる'}

In [18]:
label_dict = {'料理-主食を掴む':'cuisine-main_dish_hold',
            '料理-主食を食べる':'cuisine-main_dish_eat',
            '料理-副菜を掴む':'cuisine-side_dish_hold',
            '料理-副菜を食べる':'cuisine-side_dish_eat',
            '料理-主菜を掴む':'cuisine-staple_dish_hold',
            '料理-主菜を食べる':'cuisine-staple_dish_eat',
            '食器類を持つ':'tableware_hold',
            '食器類を置く':'tableware_put'}

In [20]:
df['action_label'] = df['action_label'].map(label_dict)

In [21]:
df

    Unnamed: 0  first_frame  last_frame              action_label
0            1         1176        1194    cuisine-side_dish_hold
1            2         1209        1227     cuisine-side_dish_eat
2            3         1486        1516    cuisine-side_dish_hold
3            4         1529        1557     cuisine-side_dish_eat
4            5         1619        1649    cuisine-side_dish_hold
..         ...          ...         ...                       ...
64          65         9705        9711    cuisine-main_dish_hold
65          66         9712        9758     cuisine-main_dish_eat
66          67         9953        9969  cuisine-staple_dish_hold
67          68        10389       10399     cuisine-main_dish_eat
68          69        10669       10699     cuisine-main_dish_eat

[69 rows x 4 columns]